body {
    font-family: "Cormorant Garamond", serif;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.75),
            rgba(255, 255, 255, 0.75)), url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

:root {
    --main-color: rgb(188, 33, 139);
}

h1,
h2 {
    color: var(--main-color);
}

tbody tr:nth-child(odd) {
    background-color: blanchedalmond;
}

tbody tr:nth-child(even) {
    background-color: pink;
}